/*Program:   style2.css
 Author:    Alfredo David
 Created:   2024-09-07 
 Modified:  2024-09-12
 By:        Alfredo David
 Ver        2.01
 Description: This is the style.css that is used to set the format of Homework1 html sites.
*/

body
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        background-color: powderblue;
        color: black;
        text-align: left;
    }

t1  /*Title1*/
    {  
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: maroon;
        font-size: smaller;
    }

table, th, td, 
    {
        style="width: 70%; border-spacing: 10px; border:2px solid black;
    }

.alc /*align Center*/
    {
        text-align: center;
    }

.all /*align Left*/
    {
        text-align: right;
    }

.alr /*align right*/
    {
        text-align: right;
    }

.sr
    {
        text-align: center;
    } 

.h1 /*header1*/
    {
        color: black;
        font-weight: bolder;
        font-size: xx-large;
        text-shadow: 15px;
        text-align: center;
    }

.tf 
    {
        font-size: small;
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }

.footer 
    {
        display: inline-block;
        margin-top: 2%;
    }   

input[type="submit"] 
    {
        background-color: rgb(225, 225, 225);
        color: #000000;
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 50%;
    }

input[type="reset"] 
    {
        background-color: rgb(225, 225, 225);
        color: #000000;
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
            width: 50%;
    }

p   
    {
        background-color: powderblue;
        font: x-large;
        font-family: 'Times New Roman', Times, serif;
        color: maroon;
    }

h2  
    {
        background-color: powderblue;
        font-size-adjust: larger;
        text-align: center;
    }
hr
    {
        display: block;
        border-color: maroon;
        border-bottom-color: violet;
        border-width: 5px;
    }

li label
    {
        float: left;
        clear: left;
        width: 100px;
        text-align: right;
        margin-right: 10px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:14px;
    }

pssn
    {

    }
